page-booking {
    .list {
        margin-bottom: 0;
        &.profile {
            .item {
                align-items: baseline;
                padding-top: 4px;
                padding-bottom: 0px;
                margin-bottom: 0px;
                padding-right: 12px;
                //                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10);
                ion-avatar {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        bottom: 0 !important;
                        margin: auto !important;
                        width: 75px;
                        height: 75px;
                        max-width: unset !important;
                    }
                }
                .label {
                    white-space: normal;
                    margin-bottom: 10px;
                }
                h2 {
                    font-size: 1.7rem;
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    strong {
                        font-weight: 500 !important;
                    }
                    span {
                        opacity: .8;
                        font-size: 1.2rem;
                        margin-left: 5px;
                        color: #bfbebe;
                    }
                    ion-icon {
                        margin-left: auto;
                        min-width: 20px;
                        text-align: right;
                    }
                }
                .details {
                    margin-top: 15px;
                    p {
                        font-size: 1.23rem;
                        margin-bottom: 14px;
                        small {
                            font-size: 1.1rem;
                            color: #bdbdbd;
                            display: block;
                            margin-bottom: 1px;
                        }
                        &.job-fess {
                            color: #6c6c6c;
                            img {
                                width: 8px;
                                margin-right: 3px;
                            }
                        }
                    }
                    .row {
                        margin: 0 -5px;
                        .col {
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }
    }
    .btn-container {
        .row {
            .col {
                padding: 0;
                padding-left: 2px;
                .button {
                    margin-right: 2px !important;
                    height: 5.2rem !important;
                    font-size: 1.3rem!important;
                    font-weight: 400!important;
                    color: #a3a3a3 !important;
                    &.btn {}
                    background: $white-color !important;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $white-color !important;
                    }
                    ion-icon {
                        margin-right: 5px;
                        font-size: 1.9rem!important;
                    }
                    &.disable {
                        span {
                            opacity: .2;
                        }
                    }
                }
            }
        }
    }
    .job-status {
        padding: 26px 28px;
        padding-bottom: 0;
        .circle {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #dedede;
            margin-left: 2px;
            margin-top: 20px;
        }
        h2 {
            margin: 0;
            font-size: 1.58rem;
            padding-bottom: 12px;
            color: #6d6b71;
        }
        .list {
            margin-bottom: 0;
            padding: 0;
            .item {
                position: relative;
                min-height: 65px;
                align-items: flex-start;
                background: none;
                padding: 0;
                padding-bottom: 5px;
                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 7px;
                    right: 0;
                    width: 1px;
                    height: 20px;
                    background: #c9c9c9;
                    display: block
                }
                &::after {
                    top: auto;
                    bottom: 0;
                    height: 30px;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                .label {
                    margin: 0;
                }
                .text {
                    position: relative;
                    top: 0;
                    bottom: 0;
                    left: 14px !important;
                    height: 65px;
                    width: 100%;
                    background: #fff;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 6px;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 17px;
                        left: -7px;
                        width: 14px;
                        height: 14px;
                        display: block;
                        transform: rotate(45deg);
                        background: #fff;
                    }
                    h4 {
                        margin: 0;
                        font-size: 1.58rem;
                        font-weight: 500;
                        position: relative;
                        left: 12px;
                        height: 100%;
                        line-height: 20px;
                        small {
                            display: block;
                            position: absolute;
                            bottom: 13px;
                            font-size: 1.1rem;
                            color: #c3c3c3;
                            font-weight: 300;
                            top: 20px;
                        }
                    }
                }
                &.disable {
                    .status {
                        background: #dedede;
                    }
                    h4 {
                        opacity: 0.2;
                        line-height: 38px;
                        small {
                            display: none;
                        }
                    }
                    .text {
                        background-color: transparent;
                        &::after {
                            display: none;
                        }
                    }
                    .circle {
                        margin-top: 27px;
                    }
                }
                &.active {
                    h4 {
                        &::after {
                            background: #fff;
                        }
                    }
                    ion-icon {
                        &[item-start] {
                            color: #17b60f;
                        }
                    }
                    .circle {
                        background: #17b60f;
                        position: relative;
                        &::after {
                            content: '';
                            border-radius: 50%;
                            border: 1px solid #17b60f;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            display: block;
                            top: -2px;
                            left: -2px;
                        }
                    }
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    #review {
        text-transform: none;
        font-size: 1.6rem;
        letter-spacing: .5px;
        font-weight: 400;
        letter-spacing: 0px;
        box-shadow: none;
        &.btn {
            height: 5rem;
        }
        background:none !important;
        border: 1px solid #621fd0;
        &:hover,
        &:focus,
        &:active {
            background: none !important;
        }
        &.google {
            border: 1px solid #f62424;
            color: #f62424 !important;
        }
    }


}


// stars

.br-stars .br-units{align-items:center}.br-stars .br-unit{background-position:center center;background-size:contain;background-repeat:no-repeat;background-image:url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve'%3E%3Cpath style='fill:%23F0D355;' d='M400.07,502.64c-3.551,0-7.116-0.825-10.398-2.5L256.001,431.95L122.33,500.14 c-3.283,1.675-6.848,2.5-10.399,2.5c-4.728,0-9.431-1.464-13.408-4.336c-6.961-5.031-10.52-13.537-9.215-22.026l22.995-149.648 L6.579,219.236c-6.002-6.096-8.103-15.031-5.446-23.163c2.656-8.131,9.626-14.103,18.069-15.481l147.912-24.138l68.49-134.585 c3.904-7.675,11.786-12.507,20.397-12.507c8.611,0,16.493,4.833,20.396,12.507l68.49,134.585L492.8,180.592 c8.444,1.378,15.413,7.35,18.07,15.481c2.656,8.132,0.555,17.067-5.447,23.163L399.7,326.628l22.993,149.648 c1.305,8.49-2.254,16.995-9.215,22.026C409.502,501.175,404.798,502.64,400.07,502.64z'/%3E%3Cg style='opacity:0.1;'%3E%3Cpath style='fill:%23414042;' d='M146.585,486.578c-6.96-5.03-10.52-13.537-9.215-22.026l22.995-149.647L54.643,207.512 c-6.003-6.096-8.103-15.031-5.447-23.163c1.232-3.769,3.397-7.065,6.199-9.663l-36.193,5.906 c-8.444,1.378-15.413,7.35-18.069,15.481c-2.657,8.132-0.556,17.067,5.446,23.163l105.724,107.391L89.307,476.276 c-1.305,8.49,2.254,16.995,9.215,22.026c3.977,2.872,8.68,4.336,13.408,4.336c3.551,0,7.117-0.826,10.399-2.5l25.267-12.89 C147.257,487.03,146.914,486.817,146.585,486.578z'/%3E%3C/g%3E%3C/svg%3E");display:flex;flex-direction:column;justify-content:center;align-items:center;margin-left:5px;width:28px;height:28px;filter:grayscale(1)}.br-stars .br-unit:first-child{margin-left:0}.br-stars .br-selected,.br-stars .br-active{filter:grayscale(0)}
