page-allreview {
    .row {
        &.details {
            //            padding: 0 20px;
            .col {
                padding: 0 0px;
                .button {
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                    font-weight: 400;
                    color: #8f8f8f;
                    margin: 0;
                    background: $white-color !important;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $white-color !important;
                    }
                    ion-icon {
                        margin-right: 4px;
                        min-width: 23px;
                        &.ml-auto {
                            margin: 0;
                            margin-left: 24px;
                        }
                        img {
                            min-width: 23px;
                        }
                    }
                }
            }
        }
    }
    .list {
        &.reviews {
            margin-top: 10px;
            padding: 20px 12px 0px 20px;
            background: #fff;
            .item {
                padding: 0;
                padding-bottom: 30px;
                .label {
                    margin: 0;
                    white-space: normal;
                    .reviews-details {
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        h2 {
                            padding-top: 0px;
                            margin: 0;
                            font-size: 1.6rem;
                            font-weight: 500;
                            small {
                                display: block;
                                font-size: 1.2rem;
                                font-weight: 400;
                                margin-top: 2px;
                            }
                        }
                        .review-img {
                            min-width: 50px;
                            max-width: 50px;
                            height: 50px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            margin-right: 20px;
                            img {
                                width: 55px;
                                position: absolute;
                            }
                        }
                        p {
                            margin-left: auto;
                            padding: 0;
                            margin-bottom: 17px;
                            font-size: 1.13rem;
                            min-width: 89px;
                            text-align: right;
                            font-weight: 300;
                            color: #8b8b8b;
                        }
                    }
                    p {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 20px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
