<ion-header>
    <ion-navbar>
        <ion-title>Your Reviews</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <!-- <ion-row class="details ">
        <ion-col col-6>
            <button ion-button full class="btn">  <ion-icon name="md-star"></ion-icon> All Reviews <ion-icon name="ios-arrow-down-outline" class="ml-auto"></ion-icon></button>
        </ion-col>

        <ion-col col-6>
            <button ion-button full class="btn">  <ion-icon><img src="assets/imgs/list-icon.png"></ion-icon> Newest First  <ion-icon name="ios-arrow-down-outline" class="ml-auto"></ion-icon></button>
        </ion-col>
    </ion-row> -->

    <ion-list lines class="reviews" *ngIf="review">
        <div *ngFor="let item of review" >
        <ion-item>
            <div class="reviews-details">
                <div class="review-img">
                    <img src="{{item?.imageURL}}">
                </div>
                <h2 class="text-ellipsis" style="width: 100%;">{{item?.cutomerName}}<small class="text-green" style="display: inline; float: right;" >{{item?.rating}}.0 <ion-icon name="star" class="text-green"></ion-icon></small></h2>
                <!-- <p class="text-ellipsis">21<sup>st</sup> Jan' 18 </p> -->
                <br>
            </div>
            <h4 id="review">{{item?.review | slice:0:18}}...</h4>
        </ion-item>
    </div>
    <h2 class="text-grey" *ngIf="review.length === 0">No Review</h2>
    </ion-list>

</ion-content>
