<ion-header class="bg-thime">
    <ion-navbar>
        <ion-title>Requests</ion-title>
    </ion-navbar>

    <ion-segment [(ngModel)]="requests">
        <ion-segment-button value="pending">
            Pending
        </ion-segment-button>
        <ion-segment-button value="completed">
            Completed
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg-light">
    <div [ngSwitch]="requests">
        <ion-list *ngSwitchCase="'pending'" no-lines>
            <div *ngFor="let item of posts">
                <ion-item (click)="booking(item)">
                    <ion-avatar item-start>
                        <img src="{{item?.imageURL}}">
                    </ion-avatar>
                    <h2><span class="text-ellipsis">{{item?.workerName}} </span><span class="text-light-grey small">&nbsp; | {{item?.jobTitle}}</span> <span class="ml-auto small">{{item?.postStatus}}</span></h2>
                    <p class="text-grey"><span class="text-ellipsis"><img src="assets/imgs/ruppes-icon.png"> {{item?.rate}} / per hour</span> <span class="ml-auto text-ellipsis">{{item?.date}}, {{item?.time}}</span></p>
                </ion-item>       
             </div>    
             <h2 *ngIf="!posts" style="text-align: center; opacity:0.2;">
                No Orders
            </h2>
        </ion-list>

        <ion-list *ngSwitchCase="'completed'" no-lines>
                <div *ngFor="let item of completedPosts">
            <ion-item class="completed" (click)="booking(item)">
                <ion-avatar item-start>
                    <img src="{{item?.imageURL}}">
                </ion-avatar>
                <h2><span class="text-ellipsis">{{item?.workerName}}</span><span class="text-light-grey small">&nbsp; | {{item?.jobTitle}}</span> <span class="ml-auto small">{{item?.postStatus}}</span></h2>
                <p class="text-grey"><span class="text-ellipsis"><img src="assets/imgs/ruppes-icon.png"> 250 / per hover</span> <span class="ml-auto text-ellipsis">{{item?.date}}, {{item?.time}}</span></p>
            </ion-item>
        </div>
        <h2 *ngIf="completedPosts.length === 0 " style="text-align: center; opacity:0.2;">
            No Orders
        </h2>
        </ion-list>
    </div>
    <!--    <img src="../../assets/imgs/14.png" (click)="booking()">-->
</ion-content>
