    <ion-header>
    <ion-navbar>
        <ion-title><span class="profile"><img src="{{image}}"></span>{{workerName}} <small></small><span> <ion-icon name="md-more"></ion-icon></span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div *ngIf="chat">
        <div *ngFor="let item of msgList">
                <ion-card [class.send] = " userId === item.uid "
                           [class.received] = " userId !==  item.uid "
                >
                        <h2>{{item.message}}</h2>
                        <p class="small">{{item.time}}</p>
                </ion-card>
        </div>

    </div>

    <div class="fixed-bottom">
        <ion-row>
            <ion-col col-2 class="">
                <p class="bg-thime" text-center>Book</p>
            </ion-col>
            <ion-col col-8>
                <ion-list class="" no-lines>
                    <ion-item>
                        <ion-input type="text" placeholder="Type your message" [(ngModel)]="newMsg" (keyup.enter)="sendMsg()" ></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-2 class="">
                <p class="bg-thime" text-center>
                    <ion-icon name="md-send" (tap)="sendMsg()"></ion-icon>
                </p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
