page-myprofile {
    .form {
        background: $white-color;
        width: 100%;
        max-width: unset;
        margin: auto;
        padding-left: 37px;
        padding-right: 20px;
        margin-top: 0px;
        margin-bottom: 4px;
        .row {
            margin-left: -15px;
            align-items: center;
            &.profile {
                .img-box {
                    position: relative;
                    min-width: 88px;
                    height: 88px;
                    margin: 0 auto;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 0 !important;
                        left: 0% !important;
                        right: 0% !important;
                        bottom: 0 !important;
                        margin: auto !important;
                        height: 100% !important;
                        max-width: unset !important;
                        width: auto;
                    }
                    ion-icon {
                        color: #fff;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        background: $thime-color;
                        top: 9px;
                        font-size: 1.4rem;
                        right: 0px;
                        text-align: center;
                        border-radius: 50%;
                        line-height: 25px;
                    }
                }
                .list {
                    .item {
                        margin-top: 0px;
                    }
                }
            }
        }
        .list {
            padding-bottom: 20px;
            margin-bottom: 0;
            .item {
                margin-top: 25px;
            }
        }
    }
    .your-services {
        background: $white-color;
        padding-left: 37px;
        padding-right: 20px;
        margin-bottom: 4px;
        .list {
            .item-select {
                min-height: 4rem;
                display: block;
                border-bottom: 1px solid #ccc !important;
                padding: 0;
                .label {
                    margin: 0;
                    font-size: 1.3rem;
                    font-weight: 300;
                    margin-bottom: 5px;
                    color: #9d9d9d;
                }
                .input-wrapper {
                    display: block;
                    ion-select {
                        padding: 0;
                        width: 100%;
                        max-width: 100%;
                        .select-icon {
                            width: 19px;
                        }
                    }
                }
            }
        }
        p {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 10px 13px 23px 0;
            font-size: 1.3rem;
            font-weight: 300;
            color: #bababa;
            ion-icon {
                margin-left: auto;
            }
        }
    }
    h6 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 400;
        padding-top: 21px;
        padding-bottom: 20px;
    }
    .verification {
        margin-bottom: 4px;
        background: $white-color;
        padding-left: 37px;
        padding-right: 20px;
        h2 {
            font-size: 1.73rem;
            font-weight: 400;
            margin: 0;
            padding-bottom: 20px;
            small {
                display: block;
                font-size: 1.29rem;
                font-weight: 400;
                margin-bottom: 5px;
                color: #9d9d9d !important;
            }
        }
        h3 {
            display: flex;
            align-items: flex-start;
            margin: 0;
            ion-icon {
                min-width: 36px;
                display: block;
                transform: rotate(180deg);
                text-align: right;
            }
            span {
                font-size: 1.77rem;
                font-weight: 400;
                letter-spacing: .3px;
                small {
                    display: block;
                    font-size: 1.2rem;
                    font-weight: 300;
                    letter-spacing: 0;
                    color: #9d9d9d !important;
                    margin-top: 6px;
                    padding-bottom: 13px;
                }
            }
        }
    }
    .box-shadow {
        box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.81);
    }
}
